
$color-megadark: #191c24;
$color-darkest: #101114;
$color-darker: #1f2229;
$color-dark: #2a2d37;
$color-light: #f7f8f8;

$color-white: #ffffff;
$color-grey: #808592;
$color-grey-light: #a7b2c1;
$color-dark-grey: #373c43;

$color-blue-dark: #004da4;
$color-blue-light: #005abf;

// base options
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: 1200px) {
      font-size: 55%;
    }

    @media only screen and (max-width: 1000px) {
      font-size: 50%;
    }

    @media only screen and (max-width: 900px) {
      font-size: 45%;
    }

    @media only screen and (max-width: 600px) {
      font-size: 35%;
    }
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.8;
  color: $color-grey-light;
}

ul.list {
  list-style: none;
}


// utilities
.mb-2 {
  margin-bottom: 1.5rem;
}

.mlm2-5 {
  margin-left: -2.5rem !important;

  @media only screen and (max-width: 1000px) {
    margin-left: -1.5rem !important;
  }
}

.mlm3-5 {
  margin-left: -3.5rem !important;

  @media only screen and (max-width: 1000px) {
    margin-left: -2.5rem !important;
  }
}