.side-nav {
  list-style: none;
  font-size: 1.6rem;

  &__item {
    height: 7.5rem;
    background-color: $color-darker;
    transition: .2s all;

    &:hover {
      background-color: $color-megadark;
    }
    
    &--active {
      background-color: $color-dark;
      color: $color-grey;
    }

    &--disabled {
      color: $color-grey;
    }
  }

  &__link {
    height: 100%;

    span {
      padding-left: 3rem;
    }
  }

  &__link:link,
  &__link:visited {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}