// sidebar menu component
.side-nav {

  @media only screen and (max-width: 900px) {
    display: flex;
  }

  &__item {
    background-color: $color-darker;
    transition: .2s all;

    @media only screen and (max-width: 900px) {
      flex: 1;
    }

    &:hover {
      background-color: $color-megadark;
    }
    
    &--active {
      background-color: $color-dark;
      color: $color-grey;
    }

    &--disabled {
      color: $color-grey;
    }
  }

  &__link {
    height: 7.5rem;
    padding-left: 3rem;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 900px) {
      justify-content: center;
    }
  }
}
// sidebar menu component

// payment's info component
.pay-info {

  &__head {
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
  }

  &__value {
    margin-left: 4rem;
    color: $color-darker;
  }
}
// end payment's info component

// card data form component
.pay-form {

  @media only screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head {
    font-size: 2.2rem;
    margin: 2rem 0;
    color: $color-darkest;
    font-family: 'OpenSansBold' sans-serif;
  }

  &__section {
    padding: 0 1.3rem;

    &--flex-right {
      align-self: flex-end;
    }
  }

  &__label {
    display: block;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.3rem 1.2rem;
    background-color: $color-white;
    border: .1rem solid rgba($color-grey-light, .3);

    @media only screen and (max-width: 1000px) {
      padding: 1rem;
    }

    &:not(:last-of-type) {
      margin-right: .5rem;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-light;
    }

    &--error {
      border: 1px solid red;
    }

    &--lg {
      width: 32rem;
    }

    &--mid {
      width: 13.8rem;
    }

    &--xs {
      width: 6.5rem;
    }

    &--sm {
      width: 7rem;
    }

    &--sm2 {
      width: 8.5rem;
    }
  }

  // hide default caret from native select html tag
  &__select {
    appearance: none;

    option {
      visibility: hidden;
    }
  }

  &__options-list {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    width: 10rem;
    max-height: 15rem;
    overflow-y: auto;
    background-color: $color-white;
    border: .1rem solid rgba($color-grey-light, .2);
    border-radius: .8rem;
    box-shadow: 0 2rem 5rem rgba($color-dark-grey, .06);
    text-align: center;
    z-index: 100;
    cursor: pointer;

    li {
      padding: 0.2rem 0;
      border-bottom: 1px solid rgba($color-grey-light, .2);
      margin: 0 1rem;
    }
  }

  &__input-icon {
    width: 2.5rem;
    margin-left: -4rem;
    transform: translateY(.75rem);

    @media only screen and (max-width: 1000px) {
      width: 2rem;
      margin-left: -3.5rem;
      transform: translateY(.5rem);
    }

    &--sm {
      width: 1.5rem;
      margin-left: -3rem;
      transform: translateY(.5rem);

      @media only screen and (max-width: 1000px) {
        width: 1rem;
        margin-left: -2.5rem;
        transform: translateY(0);
      }
    }
  }

  &__submit {
    margin: 4rem 0 1rem 1rem;
    padding: 1.2rem 3.4rem;
  }
}
// end card data form component

// credit card model component
.composition {
  position: relative;

  @media only screen and (max-width: 900px) {
    transform: translateX(-25%);
  }

  @media only screen and (max-width: 600px) {
    transform: translateX(0);
  }
}

.card {
  border: .1rem solid rgba($color-grey-light, .2);
  border-radius: 1rem;
  width: 35rem;
  height: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $color-light;

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }

  &--front {
    position: absolute;
    z-index: 2;

    @media only screen and (max-width: 600px) {
      position: relative;
    }
  }

  &--back {
    position: relative;
    left: 21rem;
    top: 2rem;
    justify-content: flex-start;

    @media only screen and (max-width: 600px) {
      left: 0;
      top: 0;
    }
  }

  &__grey-line {
    height: 4.3rem;
    margin: 2rem 0 1.2rem 0;
    background-color: rgba($color-grey-light, .2);

    @media only screen and (max-width: 600px) {
      margin-top: -4rem;
    }
  }
}
// end credit card model component

// button component
.btn {
  cursor: pointer;
  outline: none;
  border: none;

  &--primary {
    border-radius: 4rem;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 600;
    background-image: 
      linear-gradient(to top, $color-blue-dark, $color-blue-light);
  }
}
// end button component