// black background
.container {
  max-width: 120rem;
  height: 99.1rem;
  margin: 0 auto;
  background-color: $color-darkest;

  @media only screen and (max-width: 1200px) {
    margin: 0;
    max-width: 100vw;
  }
}
// end black background

// page's content (centered and flexed)
.content {
  position: relative;
  top: 7.9rem;
  left: 12.5rem;
  width: 96rem;
  display: flex;

  @media only screen and (max-width: 1200px) {
    margin: 0 auto;
    left: 0;
    max-width: calc(100vw - 10.5*2rem);
  }

  @media only screen and (max-width: 1000px) {
    max-width: calc(100vw - 8.5*2rem);
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 600px) {
    top: 0;
    max-width: 100vw;
  }

  main {
    width: 63.8rem;

    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
// end page's content

// main menu section
.sidebar {
  width: 32.2rem;
  color: $color-white;
  font-size: 1.7rem;
  letter-spacing: .2px;
  font-family: 'OpenSansBold' sans-serif;

  @media only screen and (max-width: 900px) {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
  }
}
// end main menu section

// card information section
.pay-display {
  padding: 4rem 3rem;
  background-color: $color-light;
  font-size: 1.6rem;

  @media only screen and (max-width: 900px) {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
// end card information section

// additional footer text section
.info-text {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 3rem;
  background-color: $color-dark-grey;
  color: $color-grey;
}
// end additional footer text section